body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: white;
    border-radius: 12px;
    width: 400px;
    max-height: 100%;
}

img{
    height: auto;
    width: auto;
}

.centered{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header{
    justify-content: center;
    background-color: rgb(50, 50, 211);
    margin-top: 2px;
}

p{
    font-size: 140%;
    margin-left: 4px;
    padding-left: 4px;
    justify-content: first baseline;

}

.div3{
    background-color: white;
    width: 300px;
    height: 50px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
    box-sizing: 20px 40px;
}